body{
    margin: 0;  
} 

.crosshair{
    position: fixed;
    width: 32px;
    right: calc(50% - 16px);
    top: calc(50% - 16px);
}

.loading{
    position: fixed;
    width: 100%;
    top: 40%;
    text-align: center;
}

.health{
    position: fixed;
    bottom: 5%;
    right: 5%;
    color:aliceblue
}

.eliminations{
    position: fixed;
    bottom: 5%;
    left: 5%;
    color:aliceblue
}