body{
    margin: 0;  
} 

.crosshair{
    position: fixed;
    width: 32px;
    right: calc(50% - 16px);
    top: calc(50% - 16px);
}

.loading{
    position: fixed;
    width: 100%;
    top: 40%;
    text-align: center;
}

.health{
    position: fixed;
    bottom: 5%;
    right: 5%;
    color:aliceblue
}

.eliminations{
    position: fixed;
    bottom: 5%;
    left: 5%;
    color:aliceblue
}

.death{
    color:#002442;
    background-color: #a7f2ff;
    border: 2px solid black;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 20ch;
    font-size: 2em;
    text-align: center;
    position: fixed;
    top: calc(50% - 1em);
    left: calc(50% - 10ch);
}

.death-text{
    font-size: 1em;
}

.menu{
    color:#002442;
    background-color: #a7f2ff;
    border: 2px solid black;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    position: fixed;
    width: 50%;
    height: 70%;
    top: calc(10%);
    left: calc(25%);
}

.menu-title{
    font-weight: 400;
    font-size: 3em;
}

hr{
    height: 3px;
    background: black;
}

.scoreboard{
    font-size: 0.5em;
}

.scoreboard-scrollbar {
    position: relative;
    height: 60%;
    overflow: auto;
}

.table-wrapper-scroll-vertical {
    display: block;
}

.table-name{
    width: 60%;
}

.table-value{
    width: 15%;
}

.menu-button{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.menu-sensitivity{
    font-size: 0.5em;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:10px
}

.menu-shooting{
    font-size: 0.5em;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:10px
}